    @page "/history"
    @inject ILocalStorageService localStorage

    <form data-enhance class="full overflow-auto">
        <img src="assets/icon-no-bg.png" class="icon" alt="" @onclick="GoToMain">

        <h2>Histórico</h2>

        <input type="search" placeholder="Pesquisar..." @onchange="@SearchChanged" />

        <ul>
            @if (recordList is not null && recordList.Any())
            {
                foreach (var record in recordList)
                {
                    <li>
                        <img src="#" alt="" />
                        <div>
                            <div>
                                <b>@record.Title  @record.Emoji</b>
                                <span>@record.Timestamp?.ToShortDateString()</span>
                            </div>
                            <p>@record.Description</p>
                        </div>
                    </li>
                }
            }
        </ul>
    </form>